@import 'tailwindcss';

@theme {
	--color-primary-50: #f8f5fe;
	--color-primary-100: #eee7fe;
	--color-primary-200: #dccffc;
	--color-primary-300: #c1a8fa;
	--color-primary-400: #8b5cf6;
	--color-primary-500: #4b0cdf;
	--color-primary-600: #3608a0;
	--color-primary-700: #270674;
	--color-primary-800: #170444;
	--color-primary-900: #0b0222;
	--color-primary-950: #070113;

	--color-gray-50: #faf9fa;
	--color-gray-100: #f2f1f4;
	--color-gray-200: #e4e3e8;
	--color-gray-300: #cfcdd6;
	--color-gray-400: #a5a0b1;
	--color-gray-500: #716a81;
	--color-gray-600: #514c5d;
	--color-gray-700: #3b3743;
	--color-gray-800: #222027;
	--color-gray-900: #111014;
	--color-gray-950: #0a090b;
}
